<div class="row">
  <div class="col-md-8">
    <h3>Lorem Ipsum <small>by Jeppe Bylov</small></h3>
    <%-# I know this isn't pretty, but I didn't know how to get it in there. -%>
    <p id="lorem">
      Lorem ipsum dolor sit amet, sapien laoreet  porttitor aliquam vehicula, nec suspendisse quisque condimentum augue, pede ut mauris, quam ad sit ac. Maecenas scelerisque et, ut tellus id penatibus eleifend erat dui. Quisque nibh turpis wisi fringilla turpis, at orci. Nibh nam, elit nulla sed neque tempor. Nunc sem, ut mi libero dui amet, vitae ut, in ante sed pellentesque. Elit a non, cras est dolor pede excepturi, aliquam dui, tristique ac in. Nullam ac curabitur vestibulum proin in enim, nisi volutpat hac in massa in libero. Lacus ut vestibulum consectetuer ac fringilla ut, ac facilisi. Lectus vestibulum elit auctor sodales nunc non, volutpat penatibus vehicula malesuada vulputate luctus sodales, lacus donec odio sit sit semper, cursus ut posuere. Sed et porta volutpat arcu nulla vel.
      Pede vivamus vivamus mollis ullamcorper a, arcu id. Wisi nulla. Nostrud cubilia phasellus, at id ridiculus mollis, quam a nulla, praesent feugiat nullam vestibulum, sed rutrum pellentesque lobortis duis vitae sapien. Pede id, neque natoque, vestibulum suscipit consectetuer justo nam magna nec, ut urna iste viverra mattis, leo interdum a vivamus. Risus et in volutpat ut. Nulla egestas, lacus eget felis cursus ligula penatibus vestibulum, vehicula eget in nisl. Aliquam interdum minima at, lorem lorem sollicitudin eius vitae lorem, orci eros eget massa magna dolor pede, curabitur nunc vel odio.
      Viverra in, ac ullamcorper ut, etiam neque curabitur in ut sed. Sed feugiat, et euismod ante et aliquam urna elit, mollis eleifend pellentesque hendrerit leo, lectus molestie ullamcorper vel elementum nulla. Varius donec aliquet, arcu sed suscipit commodo mauris condimentum dictum, nonummy magnis sit vivamus nulla. Volutpat cum aliquet quis sodales, vestibulum lectus ligula, quis dolor velit eget. Justo fusce vestibulum non nullam vel.
      Vehicula enim erat accumsan lectus sollicitudin donec, ut amet, porttitor hac maecenas aliquam pellentesque viverra eros. Amet dignissim nulla elementum ligula leo nullam, donec  nisl faucibus vulputate et, unde est, dui habitant dapibus nunc ultrices risus sapien. Parturient nulla eu ut sed consectetuer cursus. Ante dolor ligula tellus maecenas irure, dui massa id diam, odio nulla felis odio ut vestibulum praesent, et tellus, dui nullam magnis maecenas. Elit massa. Viverra lacus turpis morbi vivamus sit, urna tristique nunc ipsum dui. Nisl libero et. Mauris lorem nibh velit sodales, sapien tortor pede sed, sed id fusce lacus orci.
    </p>
  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <p class="text-center">
        Tags
        <ul>
          <li>Rails</li>
          <li>Rails</li>
          <li>Rails</li>
          <li>Rails</li>
          <li>Rails</li>
          <li>Rails</li>
          <li>Rails</li>
          <li>Rails</li>
          <li>Rails</li>
          <li>Rails</li>
          <li>Rails</li>
          <li>Rails</li>
        </ul>
      </p>
    </div>
    <div class="well well-lg">
      <p class="text-center">
        Archive
        <ul>
          <ul>
            <li>2014..</li>
          </ul>
          <li>January</li>
          <li>February</li>
          <li>March</li>
          <li>April</li>
          <li>May</li>
          <li>June</li>
          <li>July</li>
          <li>August</li>
          <li>September</li>
          <li>October</li>
          <li>November</li>
          <li>December</li>
          <ul>
            <li>2015..</li>
          </ul>
        </ul>
      </p>
    </div>
  </div>
</div>
