<div class="jumbotron">
  <div class="pull-right">
    <a class="btn btn-default" href="#" role="button">Log-in</a>
  </div>
  <h1>All things rails</h1>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">About</a></li>
    <li role="presentation"><a href="#">Contact</a></li>
  </ul>
</div>