<div class="jumbotron">
  <div class="pull-right">
    <a class="btn btn-default" href="#" role="button">Log-in</a>
  </div>
  <h1>All things rails</h1>
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "Home", root_path %></li>
    <li role="presentation"><%= link_to "About", about_path %></li>
    <li role="presentation"><%= link_to "Contact", contact_path %></li>
  </ul>
</div>